
# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

.esphome/*
balcony_sensors/*
balcony_sensors_02/*
esp32cam01/*
esp32cam02/*
pir_test/*
uptime_test/*
fireplace_light/*
freezer_sensors/*
