# -----------------------------------------------------------------------------
# Secrets file template
# Manually copy into secrets.yaml and edit the values
# -----------------------------------------------------------------------------

wifi_ssid_1: dummy
wifi_password_1: dummy

wifi_ssid_2: dummy
wifi_password_2: dummy

wifi_ssid_3: dummy
wifi_password_3: dummy

ap_password: ***REMOVED***

ota_password: dummy
