# -----------------------------------------------------------------------------
# Secrets file template
# Manually copy into secrets.yaml and edit the values
# -----------------------------------------------------------------------------

wifi_ssid: dummy
wifi_password: dummy
ota_password: dummy
